<div class="text-center">
  <h1><%= @user.name %>さんのフォロワ一覧</h1>
</div>
<div>
  <ul class="list-unstyled">
    <% @followings.each do |following| %>
      <li>
        <div class="p-sm-2 my-2">
          <div class="text-center">
            <h4>ユーザー：<%= link_to following.name, user_path(following), class: "text-decoration-none" %></h4>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
  <div class="pagination">
    <%== pagy_bootstrap_nav(@pagy) %>
  </div>
</div>