<div class="bg-success p-3 p-sm-5 my-5 rounded">
  <div class="text-center text-white">
    <h1>教材をみんなで共有できるサービスです</h1>
      <div class="mt-5 ">
        <button type="button" class="btn btn-primary"><h1>使ってみる</h1></button>
      </div>
  </div>
</div>