<div class="m-3 school_grade col-3" id="elementary_school_grade">
  <%= f.label :grade, '学年' %>
  <%= f.select :grade, Post.elementary_grade.keys , class: 'form-control' %>
</div>

<div class="m-3 school_grade col-3" id="school_grade">
  <%= f.label :grade, '学年' %>
  <%= f.select :grade, Post.junior_grade.keys , class: 'form-control' %>
</div>